<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>LF-fashion-blog-Home</title>
		<link rel="stylesheet" type="text/css" href="category.css">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		 
	</head>
	<body>
		<header>
			<div id="banner">
				<center>
					LF fashion <br>
				</center>
				
				<section id="link">
				<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
					<a href="index.html">Home</a>&nbsp;&nbsp;
					<a href="post.html">Post</a>&nbsp;&nbsp;
					<a href="category.html">Categories</a>&nbsp;&nbsp;
				</section>
				</nav>
				
			</div>
		</header>

		<div id="home">
			<section id="home1">
			<span><a href="#">Wedding Trends</a></span><br><br>
			<span><a href="#">Models</a></span><br><br>
			<span><a href="#">Ankara Fashion</a></span><br><br>
			<span><a href="#">Teen Fashion and designs</a></span><br><br>
			<span><a href="#">Amora Lingerie Collection</a></span><br><br>
			<span><a href="#">Rutina Classic Designs</a></span><br><br>
			<span><a href="#">Beth Models</a></span><br><br>
			<span><a href="#">Dinner Gowns</a></span><br><br>
			</section>
		</div>

		
		
		<div id="footer"  style {background-color='rgba(123, 123, 255, 0.7)'}>
			Designed by Ikwuje Peace<br>
			For D/PSOWS 2019 <br>
			Copyright &copy; All rights reserved <br>
		</div>
		
	</body>
</html>