<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>LF-fashion-blog-Home</title>
		<link rel="stylesheet" type="text/css" href="style.css">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		 
	</head>
	<body>
		<header>
				<div id="banner">
				<center>
					LF fashion <br>
				</center>
				
				<section id="link">
				<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
					<a href="index.html">Home</a>&nbsp;&nbsp;
					<a href="post.html">Post</a>&nbsp;&nbsp;
					<a href="category.html">Categories</a>&nbsp;&nbsp;
				</section>
				</nav>
				
			</div>
		</header>

		<div id="home">
			<center>
			<section id="home1">Latest Fashion From Ikwuje Peace</section>
			</center>
		</div>


		<div id="cloth">
			<section>
				Liza Soberano and Marian Rivera are killing it look at the front page of this magazines<br>
				<center><a href="image/img/liza.jpg"><img src="image/img/liza.jpg" width="40%"></a>
				<a href="image/img/marian.jpg"><img src="image/img/marian.jpg" width="40%"></a></center>
			</section>
		</div>
		<div id="latest">
			<section>
				<center><a href="image/img/loius.jpg"><img src="image/img/loius.jpg" width="20%"></a><br></center>
				Check out the latest collection from louis fabio designs
				<center><a href="image/img/louis1.jpg"><img src="image/img/louis1.jpg" width="20%"></a>
				<a href="image/img/louis2.jpg"><img src="image/img/louis2.jpg" width="20%"></a></center>
			</section>
		</div>
		<br><br>
		<div id="cloth">
			<section>
				These designs are from rutina classic designs <br>
				<a href="image/img/ankara.png"><img src="image/img/ankara.png" width="30%"></a>
			</section>
		</div>
		
		
		<div id="latest">
			<section>
				These are wedding dresses from vinnollywood collection<br> <a href="#">Check these out</a><br>
			<img id="pics" width="35%">
			<script type="text/javascript">
				var imgArray=['image/img/aa.jpg','image/img/aaab.jpg', 'image/img/aaac.jpg', 'image/img/aaad.jpg', 'image/img/aaaf.jpg', 'image/img/aaag.jpg'],
				curIndex=0;
				imgDuration=2000;
				function slideshow(){
				document.getElementById('pics').src=imgArray[curIndex];
				curIndex++;
				if (curIndex==imgArray.length){curIndex=0;}
				setTimeout("slideshow()", imgDuration);
				}
				slideshow()
			</script>
			</section>
		</div>	
		<div id="latest">
			<section>
				These designs are from rutina classic designs <br>
				<a href="image/img/emma1.jpg"><img src="image/img/emma1.jpg" width="30%"></a>
			</section>
		</div>
		<div id="cloth">
			<section>
				These designs are from rutina classic designs <br>
				<a href="image/img/asoebi.jpg"><img src="image/img/asoebi.jpg" width="60%"></a>
			</section>
		</div>
		<div id="latest">
			<section>
				These designs are from rutina classic designs <br>
				<a href="image/img/ankara.png"><img src="image/img/ankara.png" width="30%"></a>
			</section>
		</div>
		<div id="cloth">
			<section>
				These designs are from rutina classic designs <br>
				<a href="image/img/ankara.png"><img src="image/img/ankara.png" width="30%"></a>
			</section>
		</div>
		<div id="latest">
			<section>
				These designs are from rutina classic designs <br>
				<a href="image/img/ankara.png"><img src="image/img/ankara.png" width="30%"></a>
			</section>
		</div>
		
		<div id="footer"></div>
		
	</body>
</html>